<%- include('partials/header'); %>

<section class="container">
        <div class="text">
            <p>Advice #<%=adviceId%></p>
            <h3>"<%=advice%>"</h3>    
        </div>
        <img src="images/pattern-divider-mobile.svg" alt="" class="divider">
        <a href="/"class="dice-container">
            <img src="images/icon-dice.svg" alt="" class="dice">
        </a>
        
</section>


<%- include('partials/footer'); %>