<%- include('partials/header'); %>

<section>
    <div class="container">
        <div class="text">
            <p>Advice #<%=adviceId%></p>
            <h3><%=advice%></h3>    
        </div>
        <img src="/public/images/pattern-divider-mobile.svg" alt="">
        <img src="/public/images/icon-dice.svg" alt="">
    </div>
</section>


<%- include('partials/footer'); %>