<%- include('partials/header'); %>

<section>
    <div class="container">
        <div class="text">
            <p>Advice # <%=  %></p>
            <h3></h3>    
        </div>
        <img src="/public/images/pattern-divider-mobile.svg" alt="">
        <img src="/public/images/icon-dice.svg" alt="">
    </div>
</section>


<%- include('partials/footer'); %>