@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
}
html {
	font-size: 15px;
}
body {
	font-family: "Manrope", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(218, 23%, 16%);
}
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(217, 19%, 24%);
	margin-top: 10rem;
	width: 90%;
	text-align: center;
	border-radius: 15px;
	padding: 3rem 1rem 5rem;
}
.text p {
	text-transform: uppercase;
	color: hsl(150, 100%, 66%);
	font-size: 0.6rem;
	letter-spacing: 4px;
	margin-bottom: 1.5rem;
}
.text h3 {
	color: hsl(193, 38%, 86%);
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
.divider {
	width: 85%;
}
.dice-container {
	position: absolute;
	bottom: -30px;
	background-color: hsl(150, 100%, 66%);
	border-radius: 100%;
	width: 65px;
}
.dice {
	padding: 15px;
	margin-top: 3px;
}
footer {
	position: absolute;
	bottom: 0;
	text-align: center;
}
